<header class="header">
    <a>
        <img id="logo" src="cardboard.png" />
        <div id="title">CardBoard</div>

    </a>
    <div class="dropdown" id="user">
    	<span>{{user}}</span>
    	<div class="dropdown-content">
    		<form action="/logout" method="post">
    			<button type="submit" class="mybutton">Logout</button>
    		</form>
    	</div>
    </div>
    
</header>


