<!DOCTYPE html>

<html>
<head>    
    <link rel="stylesheet" href="css/style.css"></link>
</head>

<body>
    {{>header}}
    <div class="categroies"></div>
    <form action="create_category" method="post">
        {{>add_button}}
    </form>
</body>
    

    

</html>