<!DOCTYPE html>

<html>
<head>    
    <link rel="stylesheet" href="css/style.css"></link>
</head>

<body>
    {{>header}}
    <categories>
    	
        {{>add_button}}
	</categories>
    
    
</body>
    

    

</html>