<html>

<head>
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <input id="usernameLogin" type="text" name="username" placeholder="username">
        <input id="passwordLogin" type="password" name="password" placeholder="password">
        <input type="submit" value="OK">
    </form>
    <h1>Sign Up</h1>
    <form action="/signup" method="POST">
        <input id="usernameSignup" type="text" name="username" placeholder="username">
        <input id="passwordSignup" type="password" name="password" placeholder="password">
        <input id="passwordSignup" type="password" name="passwordConfirm" placeholder="confirm password">
        <input type="submit" value="OK">
    </form>
</body>

<script>
</script>
</html>