<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
    </link>
</head>

<body>
    <div id="loginBox" class="box" {{#if signup}} style="height: 530px" {{/if}}>
        <img id="login_pic" src="red.jpg" />


        <form id="loginForm" action="/login" method="POST" {{#if signup}} style="display:none" {{/if}}>
            <h1>Log In</h1>
            <p>Username</p>
            <input id="usernameLogin" type="text" name="username" placeholder="username">
            <p>Password</p>
            <input id="passwordLogin" type="password" name="password" placeholder="password">
            <input type="submit" value="Log In">
            <br />
            <input type="button" id="loginSwitch" class="switch" value="Don't have an account? Sign up" />
        </form>

        <form id="signupForm" action="/signup" method="POST" {{#unless signup}} style="display:none" {{/unless}}>
            <h1>Sign Up</h1>
            <p>Username</p>
            <input id="usernameSignup" type="text" name="username" placeholder="username">
            <p>Password</p>
            <input id="passwordSignup" type="password" name="password" placeholder="password">
            <p>Confirm Password</p>
            <input id="confirmPassword" type="password" name="passwordConfirm" placeholder="confirm password">
            <input type="submit" value="Sign Up">
            <br />
            <input type="button" id="signupSwitch" class="switch" value="Already have an account? Log In" />
        </form>
        {{#if show}}
        <div class="err_msg">{{message}}</div>
        {{/if}}
    </div>

</body>

<script src='js/login.js'></script>

</html>