<html>

<head>
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="username">Username: </label>
        <input id="usernameField" type="text" name="username">
        <input id="passwordField" type="password" name="password">
        <input type="submit" value="OK">
    </form>
</body>


</html>