body {
    margin:0px;
}

/*------------------Header-------------------*/

header {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: rgb(240, 240, 240);
    z-index: 6;
}

#logo {
    position: relative;
    display: inline-block;
    height: 100%;
    z-index: 10;
}

#title {
    position: relative;
    display: inline-block;
    font-size: 2.7em;
    font-weight: bold;
    z-index: 2;
    padding: 5px;
    top: -15px;
}

#user {
    margin: auto;
    font-size: 20px;
    text-align: right;
    position: absolute;
    top: 20px;
    right: 25px;
    height: 20px;
    width: 100px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    padding: 0px 50px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.mybutton {
    display: block;
    border: 0px none rgb(240, 240, 240);
    -webkit-appearance: none;
    -webkit-border-radius: 6px;
    background-color: white;
    text-align: right;
}

/*------------------Categories------------------*/

.categories {
    display: inline-block;
    width: 250px;
    max-height: 100%;
    background-color: white;
    border: solid rgb(230, 230, 230) 3px;
    border-radius: 6px 6px 0px 0px;
    margin: 5px;
    min-height: 200px;
    vertical-align: middle;
    padding: 0px;
}

#cat_container {
    white-space: nowrap;
    height: 100%;
}

#create_cat_border {
    height: 206px;
    width: 226px;
    display: inline-block;
    border: 2px solid rgb(200, 200, 200);
    margin: 5px;
    background-color: white;
    color: rgb(200, 200, 200);
    border-radius: 3px;
}

#create_cat_add {
    height: 90%;
    width: 95%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: block;
    border: 0px solid rgb(200, 200, 200);
    margin: 5px;
    background-color: white;
    vertical-align: middle;
    font-size: 180px;
    color: rgb(200, 200, 200);
}

#create_cat_text {
    display: none;
    left: 10px;
    width: 210px;
    margin: 5px;
    color: rgb(55, 55, 55);
    background: white;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 3px;
}

#create_cat_submit {
    display: none;
    left: 10px;
    margin: 5px;
    color: rgb(55, 55, 55);
    background: white;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 3px;
}

.cat_title {
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    background-color:rgb(230, 230, 230);
}


/* --------------Cards--------------- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.cards {
    height:200px;
    border: 2px solid rgb(200, 200, 200);
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

    .card div {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #FFF;
        text-align: center;
        line-height: 200px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    .card .back {
        background: #222;
        color: #FFF;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

label:hover .card {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

input {
    display: none;
}

:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

label:hover :checked + .card {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
}