body {
    margin: 0px;
}

/*------------------grid---------------------*/

.header {
    grid-area: header;
}

#cat_container {
    grid-area: cat
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header header header' 'cat cat cat cat cat cat';
    grid-gap: 10px;
    padding: 10px;
}

/*------------------Header-------------------*/
header {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: rgb(240, 240, 240);
    z-index: 6;
}

#logo {
    position: relative;
    display: inline-block;
    height: 100%;
    z-index: 10;
}

#title {
    position: relative;
    display: inline-block;
    font-size: 2.7em;
    font-weight: bold;
    z-index: 2;
    padding: 5px;
    top: -15px;
}

#user {
    margin: auto;
    font-size: 20px;
    text-align: right;
    position: absolute;
    top: 20px;
    right: 25px;
    height: 20px;
    width: 100px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    padding: 0px 50px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.mybutton {
    display: block;
    border: 0px none rgb(240, 240, 240);
    -webkit-appearance: none;
    border-radius: 6px;
    background-color: white;
    text-align: right;
}

/*------------------Categories------------------*/

.categories {
    display: inline-block;
    width: 250px;
    max-height: 100%;
    background-color: rgb(230, 230, 230);
    border: solid rgb(230, 230, 230) 3px;
    border-radius: 6px 6px 0px 0px;
    margin: 5px;
    min-height: 200px;
    vertical-align: top;
    padding: 0px;
}

#cat_container {
    white-space: nowrap;
    height: 100%;
}

#createCat {
    height: 206px;
    width: 226px;
    display: inline-block;
    border: 2px solid rgb(200, 200, 200);
    margin: 5px;
    background-color: white;
    vertical-align: top;
    font-size: 180px;
    color: rgb(200, 200, 200);
    border-radius: 3px;
}

.cat_title {
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    background-color: rgb(230, 230, 230);
    position: relative;
}

.delCatButton {
    right: 0px;
    position: absolute;
}

/* --------------Cards--------------- */

.flip {
    perspective: 1000px;
    transform-style: preserve-3d;
    display: block;
    height: 200px;
    left: 50%;
    top: 50%;
    cursor: pointer;
    border-bottom: 2px solid rgb(200, 200, 200)
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 400ms;
    z-index: 20;
}

.card div {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #FFF;
    backface-visibility: hidden;
    border-radius: 2px;
}

.card .back {
    background: #222;
    color: #FFF;
    transform: rotateY(180deg);
}

.invisCheck {
    display: none;
}

:checked+.card {
    transform: rotateY(180deg);
}

/*  Hover CSS. Ignore these.
label:hover :checked+.card {
    transform: rotateY(172deg);
    box-shadow: 0 20px 20px rgba(255, 255, 255, .2);
}

label:hover .card {
    transform: rotateY(8deg);
    box-shadow: 0 20px 20px rgba(50, 50, 50, .2);
}
*/

label:hover :checked+.card {
    box-shadow: 0 20px 20px rgba(50, 50, 50, .3);
}

label:hover .card {
    box-shadow: 0 20px 20px rgba(50, 50, 50, .2);
}


.card-edit {
    top: 0px;
    right: 0px;
    position: absolute;
}

.nohover {
    pointer-events: none
}

.front {
    white-space: pre-wrap;
    word-wrap: break-word;
    vertical-align: middle;
    text-align: center;
}

.back {
    white-space: pre-wrap;
    word-wrap: break-word;
    vertical-align: middle;
    text-align: center;
}

.confirm-card {
    margin: auto;
    width: 80px;
}

p {
    margin: 14px;
    text-align: left;
    font-size: 16px;
}

button {
    user-select: none;
}

/*------------------flash mode------------------*/

#stack_back{
    display: none;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
}

#stack_container{
    display: none;
}

#stack_window{
    z-index: 11;
    margin: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    width: 70%;
    height: 70%;
}

#reverse_card{
    display: none;
}

#next_card{
    float: right;
}

#back_card{
    display: none;
    float: right;
}

#unik {
    height: 500px;
}
